@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,500&display=swap');

html{
    font-family: 'Lora';
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*FONDO*/
body{
    min-height: 100vh;
    background: #d1ccc0;
}

.fondo{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow:hidden;
    z-index: -2;
}

.burbujas{
    position: relative;
    display: flex;
}

.burbujas span{
    position: relative;
    width: 100px;
    height: 30px;
    background: #7bd3e4;
    margin: 0 4px;
    border-radius: 90%;
    box-shadow: 0 0 0 10px #D980FA,
    0 0 50px #1B1464,
    0 0 100px #FDA7DF;
    animation: animate 15s linear infinite;
    animation-duration:calc(125s / var(--i));
    z-index: -1;
}
.burbujas span:nth-child(even){
    background: #d02cea;
    box-shadow: 0 0 0 10px #9980FA,
    0 0 50px #6F1E51,
    0 0 100px #12CBC4;
    z-index: -1;
} 
@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-5vh) scale(1);
    }
}


/*MENU*/
.nav {
    background-color: #706fd3;
    color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hamburger {
    display: inline-block;
    cursor:pointer;
}
.barra {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
    transition: 0.2s;
}
#nav:checked + .hamburger .barra:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}
#nav:checked + .hamburger .barra:nth-child(2) {
    opacity: 0;
}
#nav:checked + .hamburger .barra:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}
.menu {
    display: none;
}
#nav:checked + .hamburger ~ .menu {
    display: block;
}
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu li {
    padding: 10px;
}
.menu a {
    text-decoration: none;
    color:black;
    transition: 0.2s;
}
.menu a:hover {
    color: #08c4e1;
}
/*ENCABEZADO*/
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}



/*PRESENTACION*/
.presentacion{
    text-align: center;
    background: none; 
    color: #000; 
    font-size: 20px;
    z-index: 2;
    transform: translateY(200px);
    max-width: 600px;
    margin: 0 auto;
    padding: 3rem;
    top: 20px;

}   

/*PROYECTOS*/
.proyectos{
    text-align: center;
    background: none; 
    color: #000; 
    font-size: 20px;
    z-index: 2;
    transform: translateY(200px);
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;

}

/*INFORMACION*/
.informacion{
    text-align: center;
    background: none; 
    color: #000; 
    font-size: 20px;
    z-index: 2;
    transform: translateY(200px);
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;

}

/*CONTACTO*/
.contacto{
    text-align: center;
    background: none; 
    color: #000; 
    font-size: 20px;
    z-index: 2;
    transform: translateY(200px);
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;

}

.botones{
    align-self: flex-start;
    gap: 20px;
    cursor:pointer;
}
.botones:hover {
    opacity: 0.75;
}
.gmail{
    background-color: white;
    border: none;
    border-radius: 6px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 2px;
}
.gmail span{
    color: black;
    font-weight: 500;
    padding: 15;
}
.gmail picture{
    width: 35px;
    height: 10px;
    background-color: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gmail picture img{
    width: 85%;
}

.facebook{
    background-color: white;
    border: none;
    border-radius: 6px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 2px;
}
.facebook span{
    color: black;
    font-weight: 500;
    padding: 15;
}

.facebook picture{
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.facebook picture img{
    width: 85%;
}

.github{
    background-color: white;
    border: none;
    border-radius: 6px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 2px;
}

.github span{
    color: black;
    font-weight: 500;
    padding: 15;
}
.github picture{
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.github picture img{
    width: 85%;
}

.linkedin{
    background-color: white;
    border: none;
    border-radius: 6px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 2px;
}

.linkedin span{
    color: black;
    font-weight: 500;
    padding: 15;
}

.linkedin picture{
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkedin picture img{
    width: 85%;
}

.instagram{
    background-color: white;
    border: none;
    border-radius: 6px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 2px;
}

.instagram span{
    color: black;
    font-weight: 500;
    padding: 15;
}

.instagram picture{
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instagram picture img{
    width: 85%;
}

/*PIE DE PAGINA */
footer{
    background-color: #333;
    color: white;
    text-align: center;
    bottom: 0;
    padding: 1rem;
}