body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(135deg, #00f0b5, #8e00e9);
    animation: moveBackground 20s linear infinite;
  }
  
  @keyframes moveBackground {
    0% {
      transform: translateX(0) translateY(0);
    }
    100% {
      transform: translateX(100%) translateY(100%);
    }
  }
  
  .seccion3 {
    padding: 15rem;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: white;
  }
  
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
.image img {
    max-width: 100%;
    height: auto;
    margin-right: 2rem;
}
  
  .text {
    flex: 1;
    text-align: left;
  }
  
  h1 {
    font-size: 2.5em;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  